#cards{
    background: none;    
}
.card{
    border-width: 0px;
}
.service-image {
    float: left;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.name {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    bottom: 70%;
    width: 100%;
    text-align: center;
    color: white
}

.booking-button {
    bottom: 50%;
    width: 50%;
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
}

.price {
    bottom: 25%;    
    position: relative;
    text-align: center;
    color: rgb(255, 248, 248);
    font-weight: bold;
}
